<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/"/>
  <title>Eat Tomatoes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>

  <script src="https://use.fontawesome.com/304bedfc62.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <script   src="http://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

  <script src="/timer.js"></script>
  <script src="/init.js"></script>
  <script src="/lodash/index.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
  <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/socket.io-client/socket.io.js"></script>
  <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
<noscript>Please enable JavaScript so I can set my timers.</noscript>
<navbar></navbar>
<div id="main" ui-view></div>
</body>
</html>
