@import "../design";

#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .button-panel {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 4px;
    }
  }
  .shallow-padding {
    @include desktop {
      padding: 0 150px;
    }
  }

  .records-section {
    float: right;
    .badge {
      @include shadow();
      background: $c-LightYellow;
      color: black;
      &:not(:last-child) {
        margin-right: 8px;
      }
      .header {
        font-weight: 200;
      }
      .body {
        font-size: 16px;
        font-style: italic;
      }
    }
  }

  .big-tom-timer {
    @include shadow(2);
    height: 300px;
    width: 340px;
    max-width: 76vw;
    max-height: 40vh;
    margin: 16px auto;
    border-radius: 140px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $c-MainDark;
    span, div {
      color: white;
      font-size: 52px;
      font-weight: bold;
    }

    // when changing from tomato to break :0
    -webkit-transition: border-radius 800ms cubic-bezier(.42, 0, .58, 1), background 800ms cubic-bezier(.42, 0, .58, 1),
        width 800ms cubic-bezier(.42, 0, .58, 1);
    -moz-transition: border-radius 800ms cubic-bezier(.42, 0, .58, 1), background 800ms cubic-bezier(.42, 0, .58, 1),
        width 800ms cubic-bezier(.42, 0, .58, 1);
    -ms-transition: border-radius 800ms cubic-bezier(.42, 0, .58, 1), background 800ms cubic-bezier(.42, 0, .58, 1),
        width 800ms cubic-bezier(.42, 0, .58, 1);
    -o-transition: border-radius 800ms cubic-bezier(.42, 0, .58, 1), background 800ms cubic-bezier(.42, 0, .58, 1),
        width 800ms cubic-bezier(.42, 0, .58, 1);
    transition: border-radius 800ms cubic-bezier(.42, 0, .58, 1), background 800ms cubic-bezier(.42, 0, .58, 1),
        width 800ms cubic-bezier(.42, 0, .58, 1);

    &.break-timer {
      border-radius: 2px;
      background: #0091EA;
      width: 300px;
    }

    @keyframes blinker {
      50% {opacity: 0}
    }
    .finish:not(.no-blink) {
      -webkit-animation: blinker 1.2s cubic-bezier(.42, 0, .58, 1) infinite;
      -o-animation: blinker 1.2s cubic-bezier(.42, 0, .58, 1) infinite;
      animation: blinker 1.2s cubeic-bezier(.42, 0, .58, 1) infinite;
    }

    .time {
      border-top: 1px solid white;
      text-align: center;
      width: 100%;
    }

    #goalInput {
      display: none;
    }
    .goal {
      font-size: 24px;
      line-height: 52px;
      border-bottom: 1px solid white;
      width: 100%;
      text-align: center;
      vertical-align: text-top;
      -webkit-transition: opacity 400ms ease;
      -moz-transition: opacity 400ms ease;
      -ms-transition: opacity 400ms ease;
      -o-transition: opacity 400ms ease;
      transition: opacity 400ms ease;
    }

    input.goal {
      background: transparent;
      color: white;
      font-weight: bold;
      border: 0 none transparent;
      &:focus {
        outline-width: 0;
      }
    }
    .goal.placeholder {
      font-size: 24px;
      opacity: 0;
      border-bottom: 1px solid white;

    }
    &:hover {
      .goal.placeholder, .tom-ctrl {
        opacity: 0.5 !important;
      }
    }
    .tom-ctrl {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      opacity: .0;

      -webkit-transition: opacity 400ms ease;
      -moz-transition: opacity 400ms ease;
      -ms-transition: opacity 400ms ease;
      -o-transition: opacity 400ms ease;
      transition: opacity 400ms ease;

      i {
        font-size: 32px;
        margin: 0 4px;
        color: #0f0f0f;
        cursor: pointer;
      }
    }
  }
}

.message-panel {
  //display: none;
  height: 32px;
  margin-bottom: 4px;
  text-align: center;
}
.tom-status-bar {
  @include shadow(1);
  background: $c-greenFade;
  padding: 4px 5px;
  margin: 0 16px;
  border-radius: 16px;
  display: inline-block;
  width: auto;
  min-width: 200px;
  .tom-icon {
    @include shadow(1);
    font-size: 13px;
    height: 18px;
    margin: 0 2px;
    &.complete {
      background: red;
      &.break {
        background: darkgoldenrod;
      }
    }
    &.fail {
      background: darkolivegreen;
    }
  }
}
