@import "../design";

navbar {
  display: block;
  position: relative;
  z-index: 5;
  height: 56px !important;
  background: $c-MainDark-3;
  color: $c-navbarText;
  box-shadow: 1px 1px 14px -3px black;
  .container {
    position: relative;
    z-index: 300;
    width: 91%;
    height: 54px;
    max-width: 1340px;
  }
  // the right side of the navbar with menu items
  .navbar-nav {
    #back-arrow {
      font-size: 24px;
    }
    li > a {
      cursor: pointer;
      transition: color 0.2s;
      color: $c-navbarText;
      margin: 0 8px;
      &.active {
        font-weight: bold;
        height: 46px;
        @include desktop {
          border-bottom: 2px solid white;
        }
      }
      &:hover {
        background: none;
        height: 46px;
        @include desktop {
          border-bottom: 2px solid white;
        }
      }
      &:focus {
        background: none;
      }
    }

    @include mobile {
      box-sizing: border-box;
      display: inline-block;
      //margin-right: -80px;
      overflow-x: hidden;
      //padding-right: 80px;
      a:not(.active) {
        display: none;
      }
      a.active {
        &:after {
          content: "▼";
          font-size: 18px;
          padding-left: 8px;
          vertical-align: bottom;
          color: rgba(0,0,0,0.4);
        }
      }
    }
  }

  .navbar-nav-mobile-dropdown {
    transition: height 500ms ease, padding 500ms ease;
    display: none;
  }
  @include mobile {
    .navbar-nav-mobile-dropdown {
      box-sizing: border-box;
      display: block;
      position: relative;
      padding: 0;
      z-index: 10;
      background: $c-MainDark-2;
      height: 0;
      overflow-y: hidden;
      padding: 0;
      &.opened {
        overflow-y: auto;
        height: 152px;
        padding: 12px 0 0;
      }
      //// LINKS INSIDE THE MOBILE DROPDOWN
      li {
        list-style: none;
        .active {
          display: none;
        }
        padding: 12px 0;
        a {
          color: $c-navbarText;
        }
      }
    }
  }


  .navbar-user {
    margin: 12px 0 0;
    .logged-in {
      display: inline-block;
      width: 110px;
      float: right;
      //LEFT HALF
      .text-section, .button-section {
        font-size: 11px;
        display: inline-block;
      }
      .button-section {
        float: right;
        margin-top: -4px;
        display: inline-block;
        min-width: 1px;
        button {
          border-radius: 40px;
          padding-left: 10px;
          padding-right: 10px;
          background: #bbb;
        }
      }
      .text-section {
        float: left;
        width: 70px;
        div {
          text-align: center;
          width: auto;
        }
      }
      //RIGHT HALF

    }
    .login-button {
      box-shadow: none;
      //@include shadow(3);
      float: right;
      border: 0px solid black;
      margin-top: 10px;
      background: transparent;
      //background: $c-accent;
      font-weight: bold;
      color: white;
      outline: none !important;
    }
    @include mobile {
      display: inline-block;
      float: right;
    }
  }

  .navbar-mobile-menu {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
