@import "../design";

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: $c-MainLight;
  #loading-content {
    margin: 30% 0 0 40%;
    font-size: 1.5em;
  }
}
