@import "../design";

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: $c-MainLight;
  #loading-content {
    margin: 20% 20% 0 40vw;
    font-size: 48px;
  }
}
