@import "../home/main";

#about {


  height: 100%;
  @include clearfix;

  p {
    margin: 0 auto 16px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 500px !important;
    }
    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
  }
  .responsive-btns {
    margin: 24px 0 0;
    a:visited, a:focus, a:active {
      color: white;
    }
    i {
      color: white;
      font-size: 20px;
    }
  }

}
