$c-MainDark: #E53935;
$c-accent: #00C853;
$c-greenFade: #d7e5db;
$c-MainDark-2: #B71C1C;
$c-MainDark-3: #911616;

$c-navbarText: #eee;

// dark theme
$th-dark-background: #212121;
$th-dark-btn-default-background: #424242;
$th-dark-accent: #4CAF50;

@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);}
  @else if $level == 2 {box-shadow: 0 0 4px rgba(0,0,0,0.16), 0 4px 4px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 0 8px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 0 14px rgba(0,0,0,0.25), 0 14px 14px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 0 19px rgba(0,0,0,0.30), 0 0 19px rgba(0,0,0,0.22);}
}

@mixin mobile(){
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 768px) {
    @content;
  }
}
