@import "design";

* {
  box-sizing: border-box;
}

html, #main {
  height: 90vh;
}
body {
  background: #ECEFF1;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
  position: relative;
  //z-index: -1;
}

.btn {
  @include shadow(1);
  font-weight: bold;
  border-radius: 2px;
  -webkit-transition: box-shadow 300ms ease;
  -moz-transition: box-shadow 300ms ease;
  -ms-transition: box-shadow 300ms ease;
  -o-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;;
  &.default {
    background: white;
    color: $c-accent;
  }
  &.primary {
    background: $c-accent;
    color: white;
  }
  &:hover:not([disabled]) {
    @include shadow(2);
  }
}

._dev {
  position: fixed;
  bottom: 0;
}

* [negative-color] {
  display: none !important;
}


// DARK THEME!! simply add the class to body and the stylesheet will take care of the rest
body.darkTheme {
  * {

  }
  background: $th-dark-background;
  button.default {
    background: $th-dark-btn-default-background;
    color: $th-dark-accent;
  }
  button.primary, button.btn.login-button {
    background: $th-dark-accent;
    color: $th-dark-btn-default-background !important;
  }
  .tom-status-bar {
    background: $th-dark-btn-default-background !important;
  }
  *:not(button){
    color: #781212 !important;
  }

}
* [negative-background] {
}

// GLOBAL STYLES
.mobile-only {
  @include desktop {
    * {
      display: none;
    }
  }
}

.g-scrolling-text {
  background: white;
  @include shadow();
  margin: 0 auto;
  display: block;
  height: auto;
  width: 100%;
  padding: 32px;
  min-height: 100%;
  min-width: 100px;
  max-width: 760px;
  @include mobile {
    margin: 0 !important;
    width: 100%;
  }
}
.g-center-text {
  text-align: center;
}
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'learn/main';

